http {
...
    location ~ /mail/.* {
    
    if ($request_filename ~ .*pop3) {
	add_header Auth-Status OK;
	add_header Auth-Server pop.gmail.com;
	add_header Auth-Port 995;
	add_header Auth-Protocol ssl;
    }
    
    return 204;
...
}

mail {
...
    #resolver 127.0.0.1;
    proxy on;

    # your ssl conf here #
    ssl_session_cache shared:mail:130k;
    ssl_session_timeout 1h;

    server {
	auth_http 127.0.0.1:8000/mail/pop3;
	
	# listen here #
	protocol pop3;
    }
...
}
